h1{
<<<<<<< HEAD
<<<<<<< HEAD
  color: yellow
=======
  color: green
>>>>>>> ae9372a72d57c3a855a8410af862aa7a03a0cbd9
=======
  color: blue
>>>>>>> 5471e165dbdbd64d42dd8145b4be757a8712fcb7
}
